.wg-according {
    border-bottom: 1px dashed #FFFFFF4D;
}

.according-item {
    border-top: 1px dashed #FFFFFF4D;
    border-radius: 0px;
    padding: 30px 0;
    @include transition3();
    .title-according {
        @include d-flex();
        align-items: center;
        justify-content: space-between;
        .number {
            font-weight: 400;
            font-style: italic;
            color: #FFFFFFA6;
            width: 122px;
            flex-shrink: 0;

        }
        .title {
            flex-grow: 1;
            color: var(--White);
            text-transform: uppercase;
        }
        .icon {
            font-size: 24px;
            color: #FFFFFFA6;
            @include transition3;
        }

        &:hover,
        &:not(.collapsed) {
            .icon {
                transform: rotate(-45deg);
                color: var(--Neon);
            }
            .number {
                color: var(--Neon);
            }
        }
    }
    .according-content {
        padding: 25px 94px 0 122px;
        .text {
            color: #FFFFFFA6;
        }
    }
}