.according-item {
    border: 1px solid var(--border);
    border-radius: 2px;
    @include transition3();

    .title-according {
        @include d-flex();
        align-items: center;
        justify-content: space-between;
        padding: 5px 7px 7px 24px;
        letter-spacing: -0.4px;
        gap: 10px;

        p {
            max-width: calc(100% - 60px);
            color: var(--color-title);
            padding-top: 7px;
        }

        span {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 7px;
            background: rgba(255, 63, 37, 0.15);
            position: relative;

            &::before {
                content: "+";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                color: var(--red);
                @include transition3();
            }

            &::after {
                content: "-";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                color: var(--white);
                @include transition3();
                opacity: 0;
                visibility: hidden;
            }
        }

        &:not(.collapsed) {
            span {
                background: var(--red);

                &::before {
                    opacity: 0;
                    visibility: hidden;
                }

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .text {
        padding: 7px 18px 31px 24px;
        max-width: 88%;
        color: var(--color-paragraph);
    }

    &.active {
        box-shadow: 10px 4px 60px rgba(193, 193, 193, 0.25);
    }
}