.date {
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    width: 85px;
    height: 91px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.03em;
    border-radius: 10px;
    background-color: var(--Neon);
    @include transition3();

    .month {
        font-size: 20px;
    }

    &:hover {
        background-color: var(--black);
    }
}

.tf-post {
    .top-post {
        position: relative;
        margin-bottom: 30px;
    }
    .image {
        border-radius: 14px;
    }
    .date {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .post-meta {
        display: inline-flex;
        gap: 31px;
        align-items: center;
        padding: 9px 19px;
        border: 1px solid #0000001A;
        border-radius: 10px;
        margin-bottom: 20px;
        .dot {
            width: 5px;
            height: 5px;
            background-color: var(--Paragraph);
            transform: rotate(45deg);
        }
        a {
            color: var(--Paragraph);
            text-transform: uppercase;
        }
    }
    .title-post {
        display: flex;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .desc {
        color: var(--Paragraph);
        margin-bottom: 25px;
    }
    .list-tags {
        margin-bottom: 20px;
        .tags-item {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: -0.2px;
            text-transform: uppercase;
            padding: 5px 14px;
        }
    }
}

.hover-img {
    .image {
        overflow: hidden;
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition5();
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

}

.blog-wrap {
    .col-left {
        display: grid;
        gap: 50px;
        padding-right: 10px;
    }
    .col-right {
        border-left: 1px solid var(--White);
        padding-left: 40px;
    }
}

.wg-pagination {
    display: flex;
    gap: 7px;
    .pagination-item {
        @include flex(center, center);
        width: 50px;
        height: 50px;
        border: 1px solid #0000001A;
        border-radius: 50%;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: var(--Paragraph);
        &:hover,
        &.active {
            color: var(--White);
            background-color: var(--Black);
        }
    }

    ul {
        gap: 12px;

        a,
        li {
            @include flex(center, center);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
            color: var(--color-paragraph);
            @include transition3;
            border: 1px solid var(--border);

            i {
                font-size: 14px;
            }

            &:hover {
                background-color: var(--red);
                color: var(--white);
                border-color: var(--red);
            }

            &.active {
                background-color: var(--red);
                color: var(--white);
                border-color: var(--red);
            }
        }
    }

}

.sidebar-wrap {
    display: grid;
    gap: 50px;
    .sidebar-categories .categories-item {
        color: var(--Paragraph);
        padding-left: 17px;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            content: '';
            width: 5px;
            height: 5px;
            background-color: var(--Paragraph);
            transform: translateY(-50%) rotate(45deg);
            @include transition3;
        }
        &:hover {
            color: var(--Title);
            text-decoration: underline;
            &::before {
                background-color: var(--Title);
            }
        }
    }
}

form.form-search-siderbar {
    width: 100%;
    position: relative;
    input {
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        padding: 17px 20px 17px 43px;
        border: 1px solid #0000001A;
        border-radius: 14px;
        color: var(--Paragraph);
        box-shadow: 10px 4px 60px 0px #99999940;
        &::placeholder {
            color: var(--Paragraph);
        }
    }
    .tf-btn-search {
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
        display: flex;
        color: var(--Title);
        i {
            font-size: 20px;
        }
    }
}

.sidebar-search {
    padding: 24px 30px 30px;

    &.style-bg-gray-light {
        padding: 20px 30px 30px;
        background-color: var(--gray-light);

        .title-content {
            margin-bottom: 14px;
        }
    }

}

.post-recent {
    @include d-flex();
    gap: 25px;

    .image {
        width: 85px;
        height: 85px;
        flex-shrink: 0;
        img {
            border-radius: 7px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .post-content {
        .post-date {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 5px;
            letter-spacing: -0.2px;
            color: var(--Paragraph);
        }
        .name-post {
            display: inline-block;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.2px;
            text-transform: uppercase;
        }
    }

    &.small-2 {
        gap: 10px;

        .image {
            max-width: 45.24%;
            border-radius: 10px;
            overflow: hidden;
        }

        .post-content {
            max-width: calc(100% - 45.24% - 10px);
            width: 100%;
            padding: 25px 30px 22px 30px;
            background-color: var(--gray-light);
            border-radius: 10px;
        }

        h5 {
            padding-bottom: 20px;
        }

        .name-post {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .post-metas {
            padding-top: 18px;
            padding-bottom: 0;
            gap: 0 25px;
            border-top: 1px solid var(--border-7);
            flex-wrap: wrap;
        }

        .metas-item {
            padding-right: 30px;

            &::before {
                background: rgba(12, 23, 26, 0.2);
            }

            &:last-child {
                padding-right: 0;

                &::before {
                    display: none;
                }
            }

            a {
                color: var(--color-paragraph);
            }
        }
    }
}

.sidebar-recent-posts {
    padding-bottom: 40px;

    .title-content {
        margin-bottom: 25px;
    }

    .tf-post-list {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--border);

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }
    }
}

.list-tags {
    @include d-flex();
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;

    .tags-item {
        display: flex;
        padding: 5px 14px;
        border-radius: 10px;
        line-height: 20px;
        border: 1px solid #0000001A;
        color: var(--Paragraph);
        &:hover {
            background-color: var(--Neon);
            border-color: var(--Neon);
            color: var(--Title);
        }
    }
}

.sidebar-cta {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    &::before {
        position: absolute;
        content: "";
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content {
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: 40px;
        .title {
            color: var(--White);
            margin-bottom: 20px;
        }
    }
}

.grid-blog {
    .tf-grid-layout {
        margin-bottom: 70px;
    }
}

.blog-details-content {
    .image-blog-details {
        position: relative;

        .image {
            border-radius: 7px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .date {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }

    .details-content {

        .title {
            font-size: 35px;
            line-height: 46px;
            letter-spacing: -0.7px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    .details-content-2 {
        .title {
            margin-bottom: 15px;
        }
    }

    .details-content-3 {
        .title {
            margin-bottom: 15px;
        }
    }

    .title {
        color: var(--color-title);
    }

    .desc {
        color: var(--color-paragraph);
    }

    .list-btn {
        .btn-arrow-details {}
    }

}

.wg-quote {
    padding: 30px 80px 22px 50px;
    background-color: var(--gray-light);
    border-radius: 7px;

    .text {
        color: var(--color-title);
        margin-bottom: 20px;
    }

    .name-quote {
        position: relative;
        padding-left: 70px;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 50px;
            height: 3px;
            background-color: var(--red);
        }
    }
}

.post-tags-share {
    padding-top: 50px;
    border-top: 1px solid var(--border);
    padding-bottom: 50px;
}

.comment-item {
    @include d-flex();
    gap: 40px;
    background-color: var(--gray-dark);
    padding: 35px 40px 33px;
    border-radius: 7px;

    .image-avatar {
        max-width: 130px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .comment-content {
        max-width: calc(100% - 170px);
    }

    .user-comment {
        margin-bottom: 16px;

        .name {
            color: var(--color-title);
        }

        .author {
            color: var(--color-paragraph);
        }
    }

    .text-comment {
        color: var(--color-paragraph);
        margin-bottom: 16px;
        max-width: 90%;
    }

    .post-social {
        i {
            font-size: 14px;
        }
    }

    &.style-border {
        background-color: transparent;
        border: 1px solid var(--border);
        border-radius: 7px;
        padding: 27px 38px 26px;

        .image-avatar {
            max-width: 85px;
        }

        .user-comment {
            margin-bottom: 6px;
        }

        .text-comment {
            margin-bottom: 18px;
            max-width: 100%;
        }

        .rating {
            gap: 9px;
        }
    }
}

.wg-comment {
    background-color: var(--gray-dark);
    padding: 40px 55px 40px 50px;
    border-radius: 10px;

    .title {
        margin-bottom: 6px;
    }
}

/* custom rating */
.list-rating-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 7px;
}

.list-rating-check:not(:checked)>input {
    position: absolute;
    opacity: 0;
}

.list-rating-check:not(:checked)>label {
    cursor: pointer;
    white-space: nowrap;
    color: var(--color-text-5);
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;
}

.list-rating-check:not(:checked)>label:before {
    font-family: $fontIcon;
    content: "\e962";
    font-size: 18px;
}

.list-rating-check>input:checked~label {
    color: var(--red);
}

.list-rating-check:not(:checked)>label:hover,
.list-rating-check:not(:checked)>label:hover~label {
    color: var(--red);
}

.list-rating-check>input:checked+label:hover,
.list-rating-check>input:checked+label:hover~label,
.list-rating-check>input:checked~label:hover,
.list-rating-check>input:checked~label:hover~label,
.list-rating-check>label:hover~input:checked~label {
    color: var(--red);
}