.tf-btn {
    width: max-content;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding: 16px 35px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    color: var(--Black);
    background-color: var(--Neon);
    position: relative;
    @include transition3();

    &:hover {
        background-color: var(--Black);
        color: var(--Neon);
    }

    &.style-black {
        color: var(--White);
        background-color: var(--Black);
        &:hover {
            background-color: var(--Neon);
        }
    }

    &.style-1 {
        padding: 15px 34px;
        color: var(--Paragraph);
        background-color: transparent;
        border: 1px solid #0000001A;
        &:hover {
            color: var(--White);
            background-color: var(--Black);
            border-color: var(--Black);
        }
    }

    &.style-sm {
        padding: 11px 23px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }

}

.tf-btn-newsletter {
    color: var(--color-title);
    @include transition3();

    i {
        font-size: 20px;
    }

    &:hover {
        color: var(--red);
    }
}

.btn-arrow-details {
    @include d-flex();
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--border);

    .icon {
        width: 50px;
        height: 50px;
        border: 1px solid var(--border);
        @include flex(center, center);
        border-radius: 50%;

        i {
            color: var(--red);
        }
    }

    .text {
        max-width: 215px;
    }

    &.next-details {
        flex-direction: row-reverse;
        text-align: end;
    }
}


.btn-grid {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid var(--border);
    border-radius: 50%;

    span {
        width: 5px;
        height: 5px;
        background-color: var(--red);
        position: absolute;

        &:nth-child(1) {
            top: 21px;
            left: 21px;
        }

        &:nth-child(2) {
            top: 21px;
            right: 21px;
        }

        &:nth-child(3) {
            bottom: 21px;
            left: 21px;
        }

        &:nth-child(4) {
            bottom: 21px;
            right: 21px;
        }
    }
}

.arrow-btn {
    width: 60px;
    height: 60px;
    @include flex(center, center);
    background-color: var(--white);
    border-radius: 50%;

    i {
        color: var(--color-title);
        @include transition3();
    }

    &:hover {
        background-color: var(--red);

        i {
            color: var(--white);
        }
    }

    &.style-border {
        background-color: transparent;
        border: 1px solid var(--border-4);

        i {
            color: var(--white);
        }

        &:hover {
            border-color: var(--white);

            i {
                transform: rotate(-45deg);
            }
        }

        &.bg-white {
            background-color: var(--white);
            border-color: var(--white);

            i {
                color: var(--color-title);
            }

            &:hover {
                background-color: var(--black) !important;
                border-color: var(--black) !important;

                i {
                    color: var(--white);
                }
            }
        }
    }

    &.style-border-2 {
        border-color: var(--border-3);
        width: 45px;
        height: 45px;

        i {
            color: var(--color-paragraph);
        }

        &:hover {
            background-color: var(--yellow-2);
            border-color: var(--yellow-2);

            i {
                color: var(--color-title);
            }
        }

        &.arrow-next {
            i {
                transform: rotate(-45deg);
            }
        }

        &.arrow-prev {
            i {
                transform: rotate(45deg);
            }
        }
    }

    &.border-color-border-9 {
        border-color: var(--border-9);

        i {
            color: var(--color-paragraph);
        }

        &:hover {
            background-color: var(--yellow-3);
            border-color: var(--yellow-3);

            i {
                transform: rotate(0);
                color: var(--color-title);
            }
        }
    }

    &.style-2 {
        width: 45px;
        height: 45px;
    }

    &.style-border-3 {
        width: 50px;
        height: 50px;
    }

    &.style-bg-green-3 {
        background-color: var(--green-3);
    }

    &.style-bg-green-3 {
        background-color: var(--green-3);
    }

    &.hover-bg-purple {
        &:hover {
            background-color: var(--purple);
            border-color: var(--purple);

            i {
                transform: rotate(0);

            }
        }
    }

    &.hover-bg-white-arrow-blue-4 {
        &:hover {
            background-color: var(--white);
            border-color: var(--white);

            i {
                color: var(--blue-4);
                transform: rotate(0);

            }
        }
    }
}

.tf-btn-plus {
    @include flex(center, center);
    background-color: var(--white);
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    color: var(--black-2);

    &.style-color-title {
        color: var(--color-title);
    }

    &.boder-radius-50 {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: var(--black-4);

    }

    &:hover {
        background-color: var(--black-2);
        color: var(--white);
    }

    &.hover-bg-yellow-2 {
        &:hover {
            background-color: var(--yellow-2);
            color: var(--white);
        }
    }

    &.hover-bg-yellow-3 {
        &:hover {
            background-color: var(--yellow-3);
            color: var(--white);
        }
    }

    &.hover-bg-color-title {
        &:hover {
            background-color: var(--color-title);
            color: var(--white);
        }
    }
}

.layout-btn {
    width: 50px;
    height: 50px;
    @include flex(center, center);
    border: 1px solid var(--border-12);
    border-radius: 50%;

    i {
        color: var(--black);
        @include transition3();
    }

    &:hover {
        i {
            color: var(--red);
        }
    }

    &.active {
        i {
            color: var(--red);
        }
    }
}

.btn-product {
    width: 46px;
    height: 46px;
    @include flex(center, center);
    background-color: var(--white);
    border-radius: 5px;

    i {
        color: var(--color-title);
    }

    &:hover {
        background-color: var(--red);

        i {
            color: var(--white);
        }
    }
}

.hover-tooltip {
    position: relative;

    .tooltip {
        position: absolute;
        white-space: nowrap;
        padding: 4px 21px;
        bottom: calc(100% + 10px);
        transform: translateY(8px);
        opacity: 0;
        visibility: hidden;
        color: var(--white);
        width: max-content;
        background-color: var(--red);
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease,
            transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24),
            -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        z-index: 100;
        text-align: center;

        &::before {
            content: "";
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            bottom: -4px;
            position: absolute;
            background: var(--red);
            width: 8px;
            height: 8px;
            z-index: -1;
        }
    }

    &:hover {
        .tooltip {
            opacity: 1;
            visibility: visible;
            transform: none;
            transition-delay: 0.1s;
        }
    }

    &.tooltip-bot {
        .tooltip {
            top: calc(100% + 10px);
            bottom: auto;

            &::before {
                top: -4px;
            }
        }
    }

    &.tooltip-left {
        .tooltip {
            right: 100%;
            bottom: auto;
            transform: translateX(0px);

            &::before {
                top: 50%;
                left: auto;
                transform: translateY(-50%) rotate(45deg);
                right: -4px;
            }
        }

        &:hover {
            .tooltip {
                transform: translateX(-8px);
            }
        }
    }

    &.tooltip-right {
        .tooltip {
            left: 100%;
            bottom: auto;
            transform: translateX(0px);

            &::before {
                top: 50%;
                right: auto;
                transform: translateY(-50%) rotate(45deg);
                left: -4px;
            }
        }

        &:hover {
            .tooltip {
                transform: translateX(8px);
            }
        }
    }
}

.fillter-btn {
    padding: 10px 15px;
    border: 1px solid var(--border-12);
    border-radius: 999px;
    background-color: var(--white);
    color: var(--color-paragraph);

    &.style-fixed {
        position: fixed;
        padding: 10px;
        top: 50%;
        right: 0;
        z-index: 999;
        border-radius: 5px 0 0 5px;
        background-color: var(--red);

        i {
            font-size: 20px;
            color: var(--white);
        }
    }
}

.btn-add-to-cart {
    padding: 9px 20px;
}