.tf-btn {
    width: max-content;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding: 16px 35px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    color: var(--Black);
    background-color: var(--Neon);
    position: relative;
    @include transition3();

    &:hover {
        background-color: var(--Black);
        color: var(--Neon);
    }

    &.style-black {
        color: var(--White);
        background-color: var(--Black);
        &:hover {
            background-color: var(--Neon);
        }
    }

    &.style-1 {
        padding: 15px 34px;
        color: var(--Paragraph);
        background-color: transparent;
        border: 1px solid #0000001A;
        &:hover {
            color: var(--White);
            background-color: var(--Black);
            border-color: var(--Black);
        }
    }

    &.style-sm {
        padding: 11px 23px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }

}

.tf-btn-newsletter {
    color: var(--color-title);
    @include transition3();

    i {
        font-size: 20px;
    }

    &:hover {
        color: var(--red);
    }
}

.btn-arrow-details {
    @include d-flex();
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--border);

    .icon {
        width: 50px;
        height: 50px;
        border: 1px solid var(--border);
        @include flex(center, center);
        border-radius: 50%;

        i {
            color: var(--red);
        }
    }

    .text {
        max-width: 215px;
    }

    &.next-details {
        flex-direction: row-reverse;
        text-align: end;
    }
}

.tf-btn-default {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    .icon {
        font-size: 18px;
    }
}