.footer {
    position: relative;
    background-color: var(--Black);
    .footer-inner {
        padding: 120px 15px 100px;
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 30px;
        .heading {
            margin-top: -50px;
            margin-left: -170px;
            font-weight: 700;
            font-size: 170px;
            line-height: 213px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
        }
    }
    .footer-contact {
        max-width: 575px;
        .line {
            margin-top: 30px;
            height: 1px;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            margin-bottom: 50px;
        }
        .title {
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        .infor {
            display: flex;
            gap: 24px 70px;
            flex-wrap: wrap;
        }
    }
    .footer-newsletter {
        .title {
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .text {
            color: #FFFFFFA6;
            margin-bottom: 40px;
        }
    }
    .form-newsletter {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 70px;
    }
    .footer-cols {
        display: flex;
        gap: 30px 0px;
        justify-content: space-between;
        .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.03em;
            margin-bottom: 15px;
        }
        .menu-item {
            position: relative;
            color: #FFFFFFA6;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            @include transition3;
            &::before {
                position: absolute;
                left: 0;
                top: 10px;
                content: '';
                width: 5px;
                height: 5px;
                background-color: transparent;
                transform: rotate(45deg);
            }
            &:hover {
                color: var(--Neon);
                padding-left: 15px;
                &::before {
                    background-color: var(--Neon);
                }
            }
        }
        .list-menu {
            display: flex;
            gap: 0 53px;
        }
    }
    .bottom {
        padding: 50px 15px 50px;
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .text {
            color: #FFFFFFA6;
        }
        ul {
            display: flex;
            gap: 20px;
            a {
                color: #FFFFFFA6;
            }
        }
    }
}

.subscribe-footer {
    .title-footer {
        color: var(--white);
        margin-bottom: 8px;
    }

    .sub-title {
        color: var(--white);
        margin-bottom: 26px;
    }
}

.cta-footer {
    background-color: var(--blue-2);
    width: 100%;
    position: relative;
    padding: 10px 15px;
    border-radius: 10px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../image/section/bg-cta-footer.png");
    }

    .logo-cat-footer {
        width: 100px;
        height: 100px;
        background-color: var(--yellow-2);
        border-radius: 50%;
        @include flex(center, center);
        position: absolute;
        top: 50%;
        left: 595px;
        transform: translateY(-50%);
        z-index: 2;
    }

    .heading-section {
        margin-bottom: 37px;

        .text {
            letter-spacing: -0.17px;
        }
    }

    .left {
        padding: 60px 0 70px;
    }

    .image {
        border-radius: 10px;
        width: 100%;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.style-bg-red-2 {
        background-color: var(--red-2);

        .left {
            padding: 60px 0;
        }
    }
}