.offcanvas-search {
    --bs-offcanvas-height: max-content;
    background-color: var(--white);
    padding: 55px 0 30px;
    overflow-y: auto;

    .btn-close-popup {
        background-color: transparent;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .wg-box-search {
        .form-search {
            .input-search {
                position: relative;

                .tf-btn {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                }
            }

            ul {
                @include d-flex();
                gap: 12px;
                flex-wrap: wrap;
            }
        }
    }

    .search-content {
        .heading {
            @include d-flex();
            align-items: center;
            gap: 8px;
            padding-bottom: 16px;
            border-bottom: 2px solid var(--Line);

            h5 {
                font-weight: 600;
                color: var(--On-Surface);
            }
        }

        .search-list-article {
            @include d-flex();
            flex-direction: column;
        }
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        max-width: 200px;
    }
}


.offcanvasMegamenu {
    background-color: var(--white);
    max-width: 450px;
    width: 100% !important;
    --bs-offcanvas-height: max-content;
    overflow-y: auto;
    padding: 20px;
    z-index: 999999;

    .btn-close {
        overflow: visible;
    }

    .heading {
        margin-bottom: 30px;
        text-align: end;
    }
    .desc{
        color: var(--color-paragraph);
        margin-bottom: 40px;
    }

    .title-content {
        color: var(--color-title);
        margin-bottom: 15px;
    }

    .contact-list-mega-menu {
        margin-bottom: 40px;
        li {
            padding-top: 3px;
            padding-bottom: 3px;

            a{
                color: var(--color-paragraph);
                &:hover{
                    color: var(--red);
                }
            }
        }
    }

    .megamenu-subscribe{
        margin-bottom: 40px;
    }

    .megamenu-recent {
        .tf-post-list {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid var(--border);

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }

}