.swiper-slide-active {
    .fade-item-1 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 0.6s;
    }

    .fade-item-2 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 0.8s;
    }

    .fade-item-3 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1s;
    }

    .fade-item-4 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.2s;
    }

    .fade-item-5 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.3s;
    }

    .fade-item-6 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.4s;
    }
}

.sw-pagination {
    @include d-flex();
    align-items: center;
    gap: 10px;
    height: 10px;
    .swiper-pagination-bullet {
        background: #00000033;
        opacity: 1;
        width: 7px;
        height: 7px;
        flex-shrink: 0;
        transform: rotate(45deg);
        border-radius: 0;
        position: relative;
        margin: 0 !important;
        @include transition3();
        &.swiper-pagination-bullet-active {
            background: var(--Black);
        }
    }
}

.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid #0000001A;
    border-radius: 10px;
    flex-shrink: 0;
    font-size: 24px;
    color: var(--Title);
    @include transition3;
    &:hover {
        background-color: var(--Neon);
        border-color: var(--Neon);
    }
}




.sw-team {
    border: 1px solid var(--border);
    border-radius: 7px;

    .swiper-slide {
        .team-item {
            border-left: 1px solid var(--border);
        }

        &:first-child {
            .team-item {
                border-left: 0;
            }
        }
    }

}

.swiper-button-disabled {
    opacity: 0.3 !important;
    pointer-events: none;
}

.sw-product {
    padding-bottom: 50px;
    margin-bottom: -50px;
}

.sw-page-title-home {
    .swiper-slide {
        height: auto;
    }
}

.tf-thumb-tes {
    &.h-2 {
        height: 100%;

        .swiper-slide {
            height: auto !important;
        }

        .image {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.tf-swiper {
    .swiper-slide {
        height: auto;
        >div {
            height: 100%;
        }
    }
}