.swiper-slide-active {
    .fade-item-1 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 0.6s;
    }

    .fade-item-2 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 0.8s;
    }

    .fade-item-3 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1s;
    }

    .fade-item-4 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.2s;
    }

    .fade-item-5 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.3s;
    }

    .fade-item-6 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.4s;
    }
}

.sw-pagination {
    @include d-flex();
    align-items: center;

    .swiper-pagination-bullet {
        background-color: transparent;
        opacity: 1;
        width: 21px;
        height: 21px;
        position: relative;
        margin-left: 0 !important;
        margin-right: 7px !important;
        @include transition3();

        &::after {
            position: absolute;
            background-color: transparent;
            width: 21px;
            height: 21px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            z-index: 5;
            border-radius: 50%;
            border: 1px solid transparent;
            @include transition3();

        }

        &::before {
            position: absolute;
            background-color: var(--black);
            width: 7px;
            height: 7px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            z-index: 5;
            border-radius: 50%;
            @include transition3();

        }

        &.swiper-pagination-bullet-active {

            &::after {
                border-color: var(--black) !important;
            }
        }
    }

    &.style-white {
        .swiper-pagination-bullet {

            &::before {
                background-color: var(--white);
            }

            &.swiper-pagination-bullet-active {

                &::after {
                    border-color: var(--white) !important;
                }
            }
        }
    }

    &.sw-pagination-box {
        .swiper-pagination-bullet {

            &::before {
                background-color: var(--white);
            }

            &.swiper-pagination-bullet-active {

                &::after {
                    border-color: var(--white) !important;
                }
            }
        }
    }
}

.sw-team {
    border: 1px solid var(--border);
    border-radius: 7px;

    .swiper-slide {
        .team-item {
            border-left: 1px solid var(--border);
        }

        &:first-child {
            .team-item {
                border-left: 0;
            }
        }
    }

}

.swiper-button-disabled {
    opacity: 0.3 !important;
    pointer-events: none;
}

.sw-product {
    padding-bottom: 50px;
    margin-bottom: -50px;
}

.sw-page-title-home {
    .swiper-slide {
        height: auto;
    }
}

.tf-thumb-tes {
    &.h-2 {
        height: 100%;

        .swiper-slide {
            height: auto !important;
        }

        .image {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.tf-swiper {
    .swiper-slide {
        height: auto;

        >div {
            height: 100%;
        }
    }
}

.sw-main-tes {
    height: 100%;
    .swiper-slide {
        height: auto;

        >div {
            height: 100%;
        }
    }
}