.testimonials-item {
    padding: 50px 60px 43px;
    background-color: var(--gray-light);
    border-radius: 10px;

    .rating {
        margin-bottom: 13px;
        gap: 7px;

        i {
            color: var(--red);
            font-size: 18px;
        }
    }

    .title {
        margin-bottom: 70px;
    }

    .desc {
        margin-bottom: 78.38px;
        letter-spacing: 0.2px;

    }

    .icon {
        margin-bottom: 14px;

        i {
            font-size: 51px;
            color: var(--color-title);
        }
    }

    .user-testimonials {
        gap: 10px 6px;
        flex-wrap: wrap;

        .position {
            color: var(--color-paragraph);
        }
    }

    &.style-1 {
        height: 100%;

    }

    &.style-video {
        padding: 0;
        position: relative;
        overflow: hidden;
        height: 100%;

        .image {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .popup-youtube {
            width: 60px;
            height: 60px;
            margin-bottom: 25px;
        }

        .icon {
            margin-bottom: 0;
        }

        .testimonials-content {
            position: absolute;
            padding: 30px 40px;
            bottom: 0;
            left: 0;
        }

        .user-testimonials {
            .name-user {
                a {
                    color: var(--white);
                }
            }

            .position {
                color: var(--white);
            }
        }
    }

    &.style-2 {
        background-color: var(--bg-2);
        position: relative;
        padding: 48px 80px;

        .rating {
            margin-bottom: 20px;
        }

        .img-item {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .title {
            a {
                color: var(--black-2);
                letter-spacing: -0.6px;
            }
        }

        .desc {
            letter-spacing: 0px;
            margin-bottom: 85.38px;
        }

        .icon {
            i {
                color: var(--black-2);
            }
        }
    }

    &.style-3 {
        position: relative;
        padding: 70px 50px 40px;
        background-color: var(--white);
        border-radius: 7px;

        .rating {
            position: absolute;
            top: 20px;
            right: 20px;

        }

        .user-testimonials {
            padding-bottom: 37px;
            margin-bottom: 40px;
            border-bottom: 1px solid var(--border-3);
            gap: 20px;

            .img-avartar {
                max-width: 50px;
                border-radius: 50%;
            }
        }

        .desc {
            display: -webkit-box ;
            margin-bottom: 0;
            letter-spacing: 0px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }

        .name-user {
            margin-bottom: 3px;
        }

        .position {
            letter-spacing: -0.3px;
        }
    }

    &.style-4 {
        background-color: var(--bg-2);
        position: relative;
        padding: 50px 60px;

        .img-item {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .bottom-item {
            padding: 20px 30px;
            background-color: var(--white);
            border-radius: 15px;
        }

        .user-testimonials {
            .img-avartar {
                display: block;
                max-width: 65px;
            }
        }

        .icon {
            margin-bottom: 0;

            i {
                color: var(--yellow-3);
            }
        }

        .title {
            margin-bottom: 50px;
        }

        .desc {
            margin-bottom: 50px;
            letter-spacing: -0.56px;
        }

        .rating {
            i {
                color: var(--yellow-3);
            }
        }
    }

    &.style-5 {
        background-image: url(../image/testimonials-item/testimonials-item-style-5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 10px;
        padding: 10px;


        .heading-section {
            max-width: 719px;
            margin: 90px 0;
        }

        .box-funfact {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 49px 51px 35px;
            max-width: 365px;
            width: 100%;

            .rating {
                margin-bottom: 5px;

                i {
                    font-size: 18px;
                }
            }
        }

        .testimonials-content {
            max-width: 670px;
            padding: 70px 71px;
            background-color: var(--white);
            border-radius: 10px;
            position: relative;

            .img-item {
                position: absolute;
                top: 63%;
                left: 0;
                transform: translateY(-50%);
            }

            .rating {
                margin-bottom: 20px;

                i {
                    color: var(--black-5);
                }
            }

            .title {
                margin-bottom: 50px;

                a {
                    color: var(--black-5);
                }
            }

            .desc {
                letter-spacing: -0.8px;
                margin-bottom: 88.38px;
            }

            .icon {
                margin-bottom: 17px;
            }

            .img-avartar {
                display: block;
                max-width: 85px;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .user-testimonials {
                margin-bottom: 30px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(2, 13, 43, 0.5) 0%, rgba(2, 13, 43, 0) 100%);
            border-radius: 15px;

        }
    }

    &.style-6 {
        background-color: var(--bg-2);
        padding: 40px 70px 34px;
        position: relative;

        .img-item {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .rating {
            margin-bottom: 13px;
        }

        .title {
            margin-bottom: 40px;
        }

        .desc {
            margin-bottom: 40px;
        }

        .user-testimonials {
            padding-bottom: 6px;
        }

        .icon {
            margin-bottom: 0;

            i {
                color: var(--red);
                font-size: 46px;

            }
        }
    }
}

.sw-pagination-tes {
    &.style-color-black-2 {
        max-width: max-content;

        .swiper-pagination-bullet {
            &::before {
                background-color: var(--black-2);
            }

            &.swiper-pagination-bullet-active {

                &::after {
                    border-color: var(--black-2) !important;
                }
            }
        }
    }

    &.style-color-red {
        margin-top: 43px;

        .swiper-pagination-bullet {

            &::before {
                background: rgba(255, 63, 37, 0.2);
            }

            &.swiper-pagination-bullet-active {
                &::before {
                    background: var(--red);
                }

                &::after {
                    border-color: var(--red) !important;
                }
            }
        }
    }
}

.sw-testimonials {
    height: 100%;

    .swiper-slide {
        height: auto;
    }
}