// settings
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


$font-main: "Bai Jamjuree", sans-serif;
$fontIcon: "icomoon";

:root {

    --Neon: #DEFB02;
    --Black: #000000;
    --Gray: #F6F6F6;
    --White: #FFFFFF;
    --Red: #F30A46;
    --Title: #111111;
    --Paragraph: #646464;

}
