// settings

$font-main: "Bai Jamjuree", sans-serif;
$fontIcon: "icomoon";

:root {

    --Neon: #DEFB02;
    --Black: #000000;
    --Gray: #F6F6F6;
    --White: #FFFFFF;
    --Red: #F30A46;
    --Title: #111111;
    --Paragraph: #646464;

}
